name: Swift

on:
  push:
    branches:
    - develop
    - main
  pull_request:
    branches:
    - develop
    - main

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: swift build -v
  
  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - run: swift test --enable-code-coverage
    - uses: michaelhenry/swifty-code-coverage@v1.0.0
      with:
        build-path: DerivedData
        target: GarageStorageTests.xctest
        is-spm: true
        output: "coverage/lcov.info"
        output-artifact-name: "codecov-artifact"
    - name: Upload to Codecov
      run: |
        bash <(curl https://codecov.io/bash) -f "coverage/*.info"
        shell: bash
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
         
