name: Swift

on:
  push:
    branches:
    - develop
    - main
  pull_request:
    branches:
    - develop
    - main

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: swift build -v
  
  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - run: swift test --enable-test-discovery --enable-code-coverage
    - uses: michaelhenry/swifty-code-coverage@v1.0.0
      with:
        build-path: .build
        target: GarageStorageTests.xctest
        is-spm: true
